@import "@/styles/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    max-width: 298px;
    max-height: 327px;
    gap: 64px;
}
.errorText {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
