@import "@/styles/variables";

.container{

}
.header{
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #DEDEDE;
}
.colName{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.table{
  border-left: 1px solid #DEDEDE;
}
.row{
  display: grid;
  grid-template-columns: 1.2fr 5fr 1.2fr;
}
.col{
  padding: 20px 18px 33px;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}


.input{
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  &:focus{
    border: 1px solid $primaryColor;
  }
}