@import "@/styles/variables";
.container{
  padding-top: clamp(3.75rem, 3.182rem + 2.84vw, 5rem);
  padding-bottom: clamp(1.5rem, 0.023rem + 7.39vw, 4.75rem);
  position: relative;
}
.wrapper{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: -webkit-fill-available;;
  z-index: -2;
  width: 100vw;
  background-color: #F0F5FF;
  box-shadow: 5px 5px 15px 0px #0000000D;
}
.title{
  text-align: center;
  margin-bottom: clamp(2.75rem, 1.33rem + 7.1vw, 5.875rem);
}
.colored{
  color: $primaryColor;
}
.content{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 46px;
  }
}