$primaryColor: #0e65f1;
$secondaryColor: #fff;
$greyColor: #bdbdbd;
$blackColor: #2e2e2e;
$greenColor: #219653;
$lightGreenColor: #f2fbf8;
$lightBlueColor: #effafd;

$tabletSize: 768px;
$mobileSize: 470px;

$baseImageUrl: "https://icapgroupgmbh.com/images";
$baseImageUrl2: "https://icap-group-images.fra1.cdn.digitaloceanspaces.com/icap-website";
