.container {
    max-width: 309px;
    height: 260px;
    padding: 32px;
    box-shadow: 0px 0px 32px 0px #1553b70f;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 32px 0px rgba(21, 83, 183, 0.31);
    }
}

.logo {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;

    @media (max-width: 721px) {
        margin: 0 auto 24px;
    }
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    @media (max-width: 721px) {
        text-align: center;
    }
}

.desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 25%;
    @media (max-width: 721px) {
        text-align: center;
        padding: 0;
    }
}
