.quetionsItem {
    cursor: pointer;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1.5px solid #9c9c9c;
}
.activeItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: none;
}
.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.bottomRow {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.questionText {
    font-size: clamp(1rem, 0.886rem + 0.57vw, 1.25rem);
    font-weight: 600;
    line-height: clamp(1.5rem, 1.045rem + 2.27vw, 2.5rem);
    letter-spacing: 0.24px;
}
